---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <h2>this is about</h2>
    </div>
  </main>

  <style is:global>
    body {
      padding: 0;
      margin: 0;
    }
    div {
      text-align: center;
    }
    img {
      inline-size: 95%;
      block-size: 95%;
      display: inline-block;
      border: 1px solid white;
    }
  </style>
</Layout>
